.section {
	width: 90%;
	margin: 50px auto;
	padding: 30px;
	padding-bottom: 20px;
	background-color: #fff;
	border-bottom: 10px #2980b9 solid;
	box-shadow: 0 3px 15px rgba(100,100,100, 0.25);
}

.section-title {
	font-family: Roboto;
	font-size: 20px;
	text-transform: uppercase;
}

.book {
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 0;
	cursor: pointer;
	transition: transform 0.25s;
}

.book:hover, .add-book:hover {
	transform: scale(1.05)
}

.book-cover {
	width: 100px;
	height: auto;
}

.book-title {
	font-size: 17px;
	padding-top: 6px;
	color: #2c3e50;
}

.book-author {
	font-size: 13px;
	margin-top: -10px;
	color: #95a5a6;
	margin-bottom: 0;
}

.green {
	border-bottom: 10px #16a085 solid;
}

.add-book {
    width: 100px;
    display: inline-block;
    border: 4px #ecf0f1 solid;
    height: 157px;
    font-size: 16px;
    color: #ecf0f1;
    font-family: Roboto;
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
    text-transform: uppercase;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.25s;
}
